.scrollup {
    position: fixed;
    right: 2.5rem;
    /* Hide Scroll */
    bottom: -20%;
    opacity: 0.8;
    background-color: var(--title-color);
    padding: 0.15rem 0.5rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}

.scrollup:hover {
    background-color: var(--title-color-dark);
}

.scrollup-icon {
    color: var(--container-color);
    font-size: 1.5rem;
}

/* Show scroll-up */
.show-scroll {
    bottom: 3rem;
}

/* ================= BREAK POINTS ================= */
/* For Large Devices */
@media screen and (max-width:992px) {
    .scrollup {
        right: 1.25rem;
        padding: 0.1rem 0.4rem;
    }

    .scrollup-icon {
        font-size: 1.25rem;
    }
}

/* For Medium Devices */
@media screen and (max-width:768px) {
    .scrollup {
        bottom: 4rem;

    }

}


@media screen and (max-width:576px) {}

/* For Small Devices */
@media screen and (max-width:350px) {
    .scrollup {
        right: 1rem;
        padding: 0.1rem 0.4rem;
    }

}